.main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    background-color: #cecdcb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    max-width: 60em;
    padding: 0 20px;
    margin: 6em auto 19em
}



.footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
}

.title a {
    color: #0070f3;
    text-decoration: none;
}

.title {
    margin-top: -15rem;
    line-height: 2.15;
    font-size: 3rem;
}

.h2{
    font-size: 1.125rem;
    color: red;
}