.form {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form div {
    margin: 15px;
}

.groupForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}